html {
	height: 100%;
}

body {
	background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/563192ea-ac0e-4906-a865-ba9899ffafad/6b2842d1-2339-4f08-84f6-148e9fcbe01b/IN-en-20231218-popsignuptwoweeks-perspective_alpha_website_large.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center; 
}

#login {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 30px;
    width: 100%;

}

.netflix-logo-svg {
    height: 2.5rem;
  }