@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
	font-family: "Lato", sans-serif;
	font-weight: 300;
	font-style: normal;
}

html {
	height: 100%;
}

#logo {
	position: absolute;
	width: 20%;
	top: 0;
}

body {
	background-image: url("https://static.vecteezy.com/system/resources/previews/001/254/680/original/cinema-background-concept-vector.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 100%;
	margin: 0;
}

#main {
	display: flex;
	justify-content: center;
}

#login {
	background-color: #393e469c;
	color: white;
	border-radius: 4px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding-bottom: 30px;
	width: 50%;
	align-items: center;
	border-radius: 15px;
	flex-wrap: wrap;
}

button {
	margin-top: 4%;
	width: 50%;
	height: 5vh;
	background-color: #00adb5;
	border-radius: 5px;
}

button:hover {
	background-color: #00acb5d2;
}

button:focus {
	background-color: #00acb580;
}

#remember {
	display: flex;
}

a {
	text-decoration: none;
	color: #eeeeee;
}

a:hover {
	text-decoration: underline;
	color: #eeeeee;
}

input {
	margin-top: 3%;
	height: 5vh;
	width: 80%;
	background-color: #222831be;
}
input::placeholder {
	color: #eeeeee;
	font-size: larger;
	font-weight: bold;
}

footer {
	width: 100%;	
	text-align: left;
	padding: 20px 40px;
	background-color: #393e469c;
	min-height: 150px;
}

.footer-contacto {
	margin-bottom: 15px;
	color: #eeeeee;
}

.footer-contacto p {
	font-size: 14px;
	margin: 0;
}

.footer-contacto a:hover {
	text-decoration: underline;
}

.footer-contacto a {
	color: #eeeeee;
	text-decoration: none;
}

.footer-links ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.footer-links ul li {
	display: inline-block;
	margin: 0 20px 10px 0;
}

.footer-links ul li a {
	font-size: 14px;
	color: #eeeeee;
}

.footer-lenguaje {
	margin-top: 20px;
}

.footer-lenguaje select {
	padding: 6px 36px 6px 34px;
	font-size: 14px;
	border-radius: 4px;
	color: white;
	border: 0.1px solid #eeeeee;
	background-color: #222831be;
	cursor: pointer;
}
