/* En este css usamos estilos que se van a compartir en las mayorias de las paginas */

/* Reiniciamos todo a 0 */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

/* Nav que queda fijo en la parte inferior de la pagina */

#navbar{
    width: 100%;
    height: 60px;
    /* background-color: #07060e; */
    background: linear-gradient(135deg, #14213d 0%, #1e2a47 60%, #4a6d8c 100%);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
}

#cont-nav{
    width: auto;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 60px;
}

#logo{
    display: none;
}

#peliculas { display: none; } 
#peliculas a { text-decoration: none !important;} 
#peliculas a:hover { text-decoration: none !important;
color: rgb(153, 224, 221); }


#perfil{
    height: 50px;
}

#mi-perfil{
    display: none;
} 


#perfil img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}





/* Estilos a los iconos de font awesome */

#cont-nav i{
    color: rgb(153, 224, 221);
}

#cont-nav i:hover{
    color: #fff;
}

.logo{
    background: url(/static/img/logo-flix-fusion.png);
    background-repeat:no-repeat;
    background-position: center center;
    background-size: contain;
    width: 100%;
    height: 70px;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Estilos al apretar el perfil */
.menu-perfil{
    display: none;
    width: 100%;
    height: 100%;
    background-color: #03010ef6;
    color: #fff;
    position: fixed;
    top: 0;
    right: -100%;  
    transition: right 0.8s ease; 
    z-index: 1000; 
}



.header-perfil{
    display: flex;
    justify-content: space-between;
    color: rgb(18, 159, 152);
    padding: 10px;
    border-bottom: 1px solid #746969;
}

.header-perfil img{
    margin-top: 10px;
}
.header-perfil h2{
    margin-left: 110px;
    line-height: 60px;
}

.header-perfil img{
    border-radius: 50%;
}

.cerrar {
    position: absolute;
    float: left;
    top: 26px;
    left: 30px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #fff;
    cursor: pointer;
    display: block;
    background-color: transparent;
    z-index: 20;
    color: #fff;
}



.contenido-perfil{
    display: flex;
    justify-content: start;
    margin: 15px 0 0 30px;
    font-size: 18px;
}

.contenido-perfil ul li{
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    cursor: pointer;
}

.contenido-perfil ul li:hover{
    text-decoration: underline;
}

.contenido-perfil ul li a{
    color: #fff;
}


/* Estilos al footer */

footer {
    height: 300px;
    margin-top: 40px;
}
.redes{
    color: #fff;
    text-align: center;
}
.social{
    display: flex;
    justify-content: center;
    margin: 16px 0 20px 0;
    gap: 8px;
}

.social a {
    width: 64px;
    height: 64px;
    border-radius: 8px;
    background-color: #080000;
    background-position: center;
    background-size: 36px;
    background-repeat: no-repeat;
}

.social a:hover{
    background-color: #eee;
    background-size: 48px;
}

.instagram{
    background-image: url('/static/img/instagram.svg');
}


.twitter{
    background-image: url('/static/img/twitter.svg');
}

.github{
    background-image: url('/static/img/github.svg');
}



.footer-contacto {
    margin-left: 26px;
}

.footer-contacto p {
    color: #fff;
    margin-bottom: 10px;
}

.footer-contacto a {
    color: #fff;
    text-decoration: none;
}

.contenido-links {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    row-gap: 8px;
}

.contenido-links a {
    color: #e7dcdc;
    font-size: 14px;
    font-weight: 200;
    text-decoration: underline rgba(255, 255, 255, 0.5);
}

.footer-lenguaje {
    margin: 15px 0 40px 26px;
}

.language-selector {
    position: relative;
    background-color: #1a1919;
    color: white;
    border: 1px solid #555;
    border-radius: 4px;
    padding: 6px 14px;
    cursor: pointer;
    font-size: 14px;
}

/* Maquetado tablet */

@media (min-width:768px) {

    #menu-perfil {
        width: 400px; 
        height: 600px; 
        right: -400px;
        border-radius: 5px;
    }

    .header-perfil h2{
        text-align: center;
        margin-left: 100px;
    }

    .header-perfil img{
        width: 55px;
        height: 55px;
        margin-right: 10px;
    }


    .social{
        display: flex;
        justify-content: center;
        margin: 16px;
        gap: 16px;
    }
    
    .social a {
        width: 64px;
        height: 64px;
        border-radius: 8px;
        background-color: #080000;
        background-position: center;
        background-size: 36px;
        background-repeat: no-repeat;
    }
    
    .social a:hover{
        background-color: #eee;
        background-size: 48px;
    }
    
    .redes{
        display: inline-block;
        margin-top: 40px;
        text-align: center;
        color: #fff;
    }
    .instagram{
        background-image: url('/static/img/instagram.svg');
    }
    
    
    .twitter{
        background-image: url('/static/img/twitter.svg');
    }
    
    .github{
        background-image: url('/static/img/github.svg');
    }
    
    footer{
        max-width: 1000px;
        display: flex;
        justify-content: space-evenly;
        margin: auto;
    }
    
    .container{
        display: flex;
        justify-content: center;
    }
    .container-footer{
        display: inline-block;
    }


    .footer-contacto {
        display: flex;
        justify-content: center;
        margin: 30px 0 0 0;
        font-size: 20px;
    }

    .footer-lenguaje {
        margin-left: 130px;
    }

    .footer-links a {
        font-size: 16px;
    }

    .language-selector {
        position: relative;
        background-color: #1a1919;
        color: white;
        border: 1px solid #555;
        border-radius: 4px;
        padding: 6px 14px;
        cursor: pointer;
        font-size: 14px;
    }

  
    
}


@media (min-width:1200px) {

    #navbar{
        top:0;
        height: 80px;
    }

    #cont-nav{
        justify-content: flex-start;
        gap: 30px;
        height: 85px;
        line-height: 85px;
    }

    #cont-nav #logo{
        height: 80px;
    }

    #logo img{
        width: 300px;
        height: 75px;
    }

    #perfil img{
        width: 55px;
        height: 55px;
    }
    
    
   #contenedor-perfil{
    margin: 10px 30px 0 auto;
    height: 70px;
   }

    #logo{
        display: flex;
        height: 60px;
    }

    #mi-perfil{
        margin: 3px 20px 0 0;
        position: absolute;
        right: 80px;
        top: -2px;
        color: #fff;
        display: block;
    }

    #peliculas{
        display: flex;
    }

    #peliculas a{
        font-size: 18px;
        color: #fff;
    }

    #peliculas a:hover{
        text-decoration: underline;
    }
    .logo{
        display: none;
    }
    .contenido-links {
        justify-content: center;
        row-gap: 16px;
        column-gap: 16px;
    }

    .principales h4{
        font-size: 24px;
    }

    .footer-contacto {
        margin-left: -30px;
    }

    .footer-lenguaje {
        text-align: center;
        margin: 20px 0 0 -250px; 

    }
}