/* Maquetado Celular */
body{
	width: 100%;
	height: auto;
	background-color: #1c1c1c;
	font-family: Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

main{
	width: 100%;
	height: auto;
} 

/* estilo logo */
.logo-inicio-sesion{
    background: url(/static/img/logo-flix-fusion.png);
    background-repeat:no-repeat;
    background-position: -23px center;
    background-size: contain;
    height: 85px;
    margin-bottom: 10px;
}

.logo-inicio-sesion{
	margin-left: 16px;
}
.logo, #login{margin: 30px 0 0 20px;}

/* estilo al login */

#login{
	width: 90%;
	display: flex;
	flex-direction: column;
	color: #fff;
	margin-bottom: 150px;
}
#login h2{
	font-size: 32px;
	margin-bottom: 40px;
}

#login input{
	padding: 8px;
	margin-bottom: 16px;
	border-radius: 4px;
	outline: none;
}

#login p a:hover{text-decoration: underline;}

.ipt{
	width: 100%;
	height: 60px;
	color: #fff;
	font-size: 16px;
	background-color:#1c1c1c;
	border: 2px solid #ccc;
}


::placeholder{color: #fff;}

:focus::placeholder{color: rgba(255,255,255,0.5);}

/* Estilos al formulario para validacion */
.error-message {
    color: rgb(158, 18, 18);
    font-size: 12px;
    margin: 0 0 10px 5px;
    font-weight: bold;
}

#login a{
	text-align: center;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

span{
	color: rgb(18, 159, 152);
	font-weight: bold;
}

/* estilo al input de checkbox */
#remember{
	display: flex;
	align-items: center;
	margin-top: 10px;
}
#remember input{
	margin-top: 16px;
}
#remember input[type="checkbox"] {margin-right: 8px;}

/* estilos al boton */
#btn{
	width: 100%;
	color: #fff;
	font-weight: bold;
	height: 45px;
	background-color: rgb(18, 159, 152);
	border: none;
	font-size: 16px;
}


#btn:hover{cursor: pointer;}

.text-danger {
    color: red;
    font-size: 1.1em;
	display: flex;
	justify-content: start;
	margin: 0 0 8px 2px;
}

#hr{
	color: rgba(255,255,255,0.3);
	border: 1px solid;
}

.language-selector {
    position: relative;
    background-color: #1a1919;
    color: white;
    border: 1px solid #555;
    border-radius: 4px;
    padding: 6px 14px;
    cursor: pointer;
    font-size: 14px;
}

/*Maquetado tablet*/
@media (min-width:768px){
	body{background: rgba(5,7,12,1)}
	/* Cuando se agranda la pantalla agregamos un fondo */
	main{
		height: 920px;
		background: linear-gradient(rgba(5,7,12,0.6), rgba(5,7,12,0.6)),
		url(/static//img/fondoFlixFusion.jpg);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}

	.logo-inicio-sesion{
		margin-top:0;
		
		background-position: 60px 15px;
	}

	#login{
		max-width: 450px;
		height: 700px;
		margin:  20px auto 0 auto;
		border: 1px solid rgba(0,0,0,0.7);
		border-radius: 4px;
		padding: 48px 60px;
		background-color: rgba(0,0,0,0.7);
	}

	#login input{height: 55px;}

	#login h2{margin-bottom: 30px;}

	#login a, #login p{font-size: 18px;}
	
	.input-control.success input{
        border-color: #09c372;
    }

    .input-control.error input{
        border-color: #ff3860;
    }

    .input-control.error{
        color: #ff3860;
        font-size: 9px;
        height: 13px;
    }


	#hr{border: none;}
} 

/* Maquetado escritorio */
@media (min-width: 1200px){
    .logo  {
        background-position: 160px 15px;
    }
}