/* Maquetado celular */
body {
    height: auto;
    background-color: #1c1c1c;
    color: #fff;
}

h1 {color: rgb(18, 159, 152);}

.container p,h1 {text-align: center;}

.container{
    margin-top: 20px;
    width: 100%;
    padding: 0 15px;
}

#descripcion{
    margin: 20px 0 20px 0;
}

/* Estilos al login de registro */

.form-group {
    display: flex;
    flex-direction: column;
}

#formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
}

#formulario input {
    height: 40px;
    outline: none;
    padding: 8px;
    width: 100%;
    border-radius: 4px;
}

.input-error {
    border: 3px solid red; /* Borde rojo para errores */
    background-color: #fdd; /* Color de fondo claro */
}

.input-success {
    border: 3px solid green; /* Borde verde para éxito */
    background-color: #dfd; /* Color de fondo claro */
}



/* Color de fondo de las letras del input */
::placeholder {color: #000;}

/* Cambiamos el color de las letras del input cuando hacemos click */

:focus::placeholder {color: rgba(22, 15, 15, 0.5);}


.error-message{
    margin: 10px auto 0 auto;
    font-size: 12px;
    color: rgb(158, 18, 18);
    font-weight: bold;
    padding: 4px;
}

/* Centramos  el "Ya tengo cuenta" */


#cuenta {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    margin: 24px auto;
    border-radius: 4px;
}

#cuenta a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

/* Estilos al boton */

#btn {
    background-color: rgb(18, 159, 152);
    grid-column: span 2;
    width: 100%;
    height: 45px;
    margin-top: 25px;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
}

#btn:hover {cursor: pointer;}

/*  Estilos "Ya tengo cuenta" */

#cuenta {margin-top: 100px;}

#cuenta:hover {
    text-decoration: underline;
    color: #ccc;
}

#hr {
    color: rgba(255, 255, 255, 0.3);
    border: 1px solid;
}


/* Maquetado tablet */

@media (min-width:768px) {

    #formulario {
        grid-template-columns: auto auto;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #formulario input {
        width: 250px;
        height: 40px;
    }


    .error-message{
        width: 200px;
    }

    #btn{
        margin: 15px auto;
    }

    #hr {margin-top: 150px;}

    #cuenta a {font-size: 30px;}

}