/* Por ahora tenemos maquetado una parta del contenido
principal y esta solo para celular(hasta que avancemos).
Tocando el boton de "Iniciar sesion se puede ver(maquetado en celular) */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body{
    width: 100%;
    height: auto;
    background-color: #1c1c1c;
}
h2,h3,h4{
    font-family: "Raleway", sans-serif;
}

.logo{
    background: url(/Imagenes-proyecto/logo-flix-fusion.png);
    background-repeat:no-repeat;
    background-position: center center;
    background-size: contain;
    width: 100%;
    height: 70px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.hr{
    background-color: rgba(66, 62, 62, 0.185);
    margin-top: 30px;
}

/* Estilos para que las imagenes vayan pasando. Maquetado por
ahora solo en celular */

#cont-slider{
    width: 100%;
    max-width: 600px;
    margin:  30px auto 0;
    position: relative;
    overflow: hidden;
}

#slider{
    display: flex;
    /* Se le pone 500% porque son 5 imagenes */
    width: 500%;
    animation: slider 25s infinite ease-in-out;
}

.sliders{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    transition: 1s ease;
}

.sliders img{
    width: 100%;
    height: 350px;
    border-radius: 10px;
}

.sliders img:hover{
    transform: scale(1.05);
    border: 2px solid rgb(18, 159, 152) ;
}

/* Efectos al slider de imagenes del principio */


@keyframes slider {
   0%{margin-left: 0;}
   15%{margin-left: 0;}

   20%{margin-left: -100%;}
   35%{margin-left: -100%;}

   40%{margin-left: -200%;}
   55%{margin-left: -200%;}

   60%{margin-left: -300%;}
   75%{margin-left: -300%;}

   80%{margin-left: -400%;}
   95%{margin-left: -400%;}
} 

/* Estilos a las categorias de peliculas */

#categorias{margin-top: 25px;}

#categorias h2{
    color: #fff;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

.clases-categorias{
    width: 120px;
    height: 70px;
    color: #fff;
    box-shadow: 0 4px 6px rgba(5, 5, 7, 0.5);
    border-radius: 4px;
    padding: 8px;
    text-align: center;
    font-weight: 600;
    line-height: 50px;
    background: linear-gradient(to right, rgba(18, 159,152) 0%, rgba(57, 114, 111, 0.418) 50%, rgb(2, 44, 42) 100%);
}

.clases-categorias:hover{box-shadow: 0 2px 4px rgb(255,255,255);}

.principales{margin-top: 35px;}

.principales h4{
    margin-left: 16px;
    color: rgb(18, 159, 152);
    font-weight: 800;

}

/* Estilos para hacer el efecto de deslizar para ver mas peliculas en celular.
Para ver el efecto inspeccionar en modo responsive ya que con el
simulador de celular no se puede */

.scroll-contenido{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 16px;
    margin: 16px;
}

.scroll-contenido::-webkit-scrollbar{display: none;}

.container-contenido img{
    flex: 0 0 auto;
    width: 100px;
    height: 150px;
    border-radius: 4px;
}

/* Este estamos viendo para escritorio mas adelante */
/* .scroll-boton{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    margin-left: 25px;
    margin-right: 25px;
} */



.proximamente{
    width: 100%;
    max-width: 600px;
    margin: 30px auto ;
    position: relative;
    overflow: hidden;
}

.proximamente h3{
    margin-left: 16px;
    margin-bottom: 20px;
    color: rgb(18, 159, 152);
    font-weight: 800;

}

#slider-proximamente{
    display: flex;
    width: 400%;
    animation: slider-prox 25s infinite ease-in-out;
}

.sliders-prox{
    width: 100%;
   /*  height: 350px; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease;
}

.sliders-prox img{
    width: 100%;
    height: 200px;
}



@keyframes slider-prox {
    0%{margin-left: 0;}
    20%{margin-left: 0;}
 
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
 
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
 
    75%{margin-left: -300%;}
    95%{margin-left: -300%;}
 } 




