@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");


*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	font-family: "Lato", sans-serif;
	font-weight: 300;
	font-style: normal;
}
/* Maquetado Celular */
body{
	width: 100%;
	height: auto;
	background-color: #1c1c1c;
}

main{
	width: 100%;
	height: auto;
}

/* estilo logo */
.logo h1{
	color: rgb(18, 159, 152);
	font-weight: bold;
}
.logo h1, #login{
	margin: 20px 0 0 20px;
}

/* estilo al login */

#login{
	width: 90%;
	display: flex;
	flex-direction: column;
	color: #fff;
	margin-bottom: 150px;
}
#login h2{
	font-size: 32px;
	margin-bottom: 40px;
}

#login input{
	padding: 16px;
	margin-bottom: 16px;
	border-radius: 4px;
	outline: none;
}

.ipt{
	width: 100%;
	height: 60px;
	color: #fff;
	font-size: 16px;
	background-color:#1c1c1c;
	border: 2px solid #ccc;
}
::placeholder{
	color: #fff;
}

:focus::placeholder{
	color: rgba(255,255,255,0.5);
}

#login a{
	text-align: center;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

span{
	color: rgb(18, 159, 152);
	font-weight: bold;
}

/* estilo al input de checkbox */
#remember{
	display: flex;
	align-items: center;
	margin-top: 10px;
}
#remember input{
	margin-top: 16px;
}
#remember input[type="checkbox"] {
	margin-right: 8px; 
}

/* estilos al boton */
#btn{
	width: 100%;
	height: 45px;
	color: #fff;
	font-weight: bold;
	background-color: rgb(18, 159, 152);
	border: none;
}

#btn:hover{
	cursor: pointer;
}

#hr{
	color: rgba(255,255,255,0.3);
	border: 1px solid;
}

/*  estilos al footer */

footer{
	width: 360px;
	height: auto;
	margin: 32px 0px;
}

.footer-contacto, .footer-contacto a, .footer-links a{
	color: #fff;
}
.footer-contacto{
	margin: 20px 0 20px 20px;
}
.footer-contacto a{
	text-decoration: none;
}

.footer-links{
	width: 100%;
	height: auto;
	margin-left: 12px;
}


.footer-links ul{
	width: 100%;
	display: inline-flex;
	flex-wrap: wrap;
	
}

.footer-links li{
	width: 180px;
	list-style: none;
	font-size: 14px;
	padding: 8px;
}

.footer-links a{
	text-decoration: underline rgba(255,255, 255,0.5);
}
.footer-lenguaje{
	margin: 20px 0 10px 20px;
}

.footer-lenguaje select{
	padding: 4px;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	border-radius: 4px;
}

@media (min-width:600px){
	body{
		background: rgba(5,7,12,1)
	}
	main{
		height: 920px;
		background: linear-gradient(rgba(5,7,12,0.6), rgba(5,7,12,0.6)),
		url(/Imagenes-proyecto/fondoFlixFusion.jpg);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}

	.logo h1{
		margin-top:0;
		padding: 24px 5px;
		text-shadow: 2px 2px 2px black;

	}

	#login{
		max-width: 450px;
		height: 700px;
		margin:  0px auto;
		border: 1px solid rgba(0,0,0,0.7);
		border-radius: 4px;
		padding: 48px 60px;
		background-color: rgba(0,0,0,0.7);
	}

	#login input{
		height: 55px;
	}

	#login h2{
		margin-bottom: 30px;
	}

	#hr{
		border: none;
	}
	footer {
        width: 80%; 
		margin-top: 180px;
    } 

	.footer-links ul{
		width: 100%;
		padding: 8px;
	}
	.footer-links li{
		width: 40%;;
		font-size: 18px; 
		margin: auto;
	}

	.footer-contacto p, .footer-lenguaje select{
	font-size: 20px;
	margin-left: 45px;
   } 

   .footer-lenguaje select{
	padding: 12px;
   }

} 

@media (min-width: 1200px){
    .logo h1 {
        font-size: 45px;
		margin-left: 120px;
    }

	footer{
		margin-top: 80px;
	}

	.footer-contacto p, .footer-links li, .footer-lenguaje select {
		margin-left: 120px;
	}
	.footer-links li{
		width: 20%;
	}

}
