<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="{{ url_for('static', filename='CSS/iniciar_sesion.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='CSS/comun.css') }}">
	<link rel="shortcut icon" href="./icono1.png" type="image/x-icon" />
	<title>FlixFusion</title>
</head>

<body>
	<main>
		<!-- Titulo -->
		<header class="logo">
		</header>
		<!-- Login Inicio de sesion -->
		<div id="login">
			<form id="formulario" action="">
				<h2>Inicia sesión</h2>
					<input class="ipt" type="email" placeholder="Ingrese el email" name="email" id="email" />
					<p id="errorEmail" class="error-message"></p>
					
					<input class="ipt" type="password" placeholder="Contraseña" name="contraseña" id="contraseña" />
					<p id="errorContraseña" class="error-message"></p>
				
					<input id="btn" type="submit" value="Iniciar sesión">
				<a href="#" id="forget">¿Olvidaste la Contraseña?</a>
				<div id="remember">
					<input type="checkbox" />
					<p>Recuérdame</p>
				</div>
				<p>¿Primera vez en <span>FlixFusion</span>? <a href="{{ url_for('suscripcion') }}">Suscríbete.</a></p>
		</div>
		</form>
	</main>

	<hr id="hr">

	<!-- Pie de pagina -->
	<footer>
		<div class="footer-contacto">
			<p>¿Preguntas? Llama al <a href="">0341 411 2004</a></p>
		</div>
		<div class="footer-links">
			<div class="contenido-links">
				<div id="elemento1">
					<a href="">Preguntas Frecuentes</a>
				</div>
				<div id="elemento2">
					<a href="">Centro de ayuda</a>
				</div>
				<div id="elemento3">
					<a href="">Términos de uso</a>
				</div>
				<div id="elemento4">
					<a href="">Privacidad</a>
				</div>
				<div id="elemento5">
					<a href="">Preferencias de cookies</a>
				</div>
				<div id="elemento6">
					<a href="">Información Corporativa</a>
				</div>
			</div>
		</div>

		<div class="footer-lenguaje">
			<select>
				<option value="es">Español</option>
				<option value="en">English</option>
			</select>
		</div>
	</footer>
	<script src="{{ url_for('static', filename='JavaScript/validacion_i_s.js') }}"></script>
</body>

</html>