<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/suscripcion.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/comun.css') }}">
    <title>Únete a FlixFasion!</title>
</head>
<body>
    <header>

        <div class="container">
            <div class="contenido">
                    <h1>Únete a FlixFasion</h1>
                    <p>Donde podras disfrutar de tus peliculas favoritas<span> donde y cuando quieras</span>.</p>
            <div class="crear-cuenta">
                <a class="boton" href="{{ url_for('registrarse') }}">Siguiente</a>
                <a class="boton" href="{{ url_for('iniciar_sesion') }}">Ya tengo cuenta</a>
            </div>
        </div>
        </div>
    </header>

   <!--  Contenido principal -->
    <main>
        <div class="container">
            <h2>Motivos para unirte</h2>
    <div class="motivos">
        <section>
            <h3>Disfruta donde quieras</h3>
            <p>Peliculas ilimitadas con cualquier dispositvo (telefono, laptop, tablet y tv.)</p>
        </section>
        <section>
            <h3>Descarga tus peliculas favoritas</h3>
            <p>Podras descargar las peliculas que quieras para poder disfrutarla sin internet.</p>
        </section>
        <section>
            <h3>Multiples usuarios</h3>
            <p>Podras crear multiples usuarios para que cada integrante tenga sus propios contenidos, perfiles y recomendaciones. </p>
        </section>
    </div>
</div>
</main>
</body>
</html>