<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/iniciar-sesion.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/comun.css') }}">
    <link rel="shortcut icon" href="./icono1.png" type="image/x-icon">
    <title>FlixFusion</title>
</head>
<body>
    <main>
        <!-- Titulo -->
        <header class="logo-inicio-sesion"></header>
        <!-- Login Inicio de sesion -->
        <div id="login">
            <form id="formulario" action="{{ url_for('auth.login') }}" method="post" >
                <h2>Inicia sesión</h2>
                <input class="ipt" type="email" placeholder="Ingrese el email" name="email" id="email" value ="{{ request.form.get('email', '') }}">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category == 'email_error' %}
                                <p class="text-danger">{{ message }}</p>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <input class="ipt" type="password" placeholder="Contraseña" name="password" id="password" value ="{{ request.form.get('password', '') }}">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category == 'password_error' %}
                                <p class="text-danger">{{ message }}</p>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category == 'general_error' %}
                                <p class="text-danger">{{ message }}</p>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <input id="btn" type="submit" value="Iniciar sesión">
                <a href="#" id="forget">¿Olvidaste la Contraseña?</a>
                <div id="remember">
                    <input type="checkbox">
                    <p>Recuérdame</p>
                </div>
                <p>¿Primera vez en <span>FlixFusion</span>? <a href="{{ url_for('auth.sign_up') }}">Regístrate.</a></p>
            </form>
        </div>
    </main>
    <hr id="hr">
    <!-- Pie de pagina -->
    <footer>
        <div class="redes">
            <h3>Nuestras redes:</h3>
        <div class="social">
            <a class="instagram"
                href="https://instagram.com"
                title="Seguinos en instagram"
                target="_blank">
            </a>
            <a class="twitter"
                href="https://twitter.com"
                title="Seguinos en twitter"
                target="_blank">
            </a>
            <a class="github"
                href="https://github.com"
                title="Seguinos en github"
                target="_blank">
            </a>
        </div>
    </div>
        <div class="container-footer">
        <div class="footer-contacto">
            <p>¿Preguntas? Llama al <a href="">0341 411 2004</a></p>
        </div>
        <div class="footer-links">
            <div class="contenido-links">
                <div id="elemento1">
                    <a href="">Preguntas Frecuentes</a>
                </div>
                <div id="elemento2">
                    <a href="">Centro de ayuda</a>
                </div>
                <div id="elemento3">
                    <a href="">Términos de uso</a>
                </div>
                <div id="elemento4">
                    <a href="">Privacidad</a>
                </div>
                <div id="elemento5">
                    <a href="">Preferencias de cookies</a>
                </div>
                <div id="elemento6">
                    <a href="">Información Corporativa</a>
                </div>
            </div>
        </div>
        <div class="footer-lenguaje">
            <select class="language-selector">
                <option value="es">Español</option>
                <option value="en">English</option>
            </select>
        </div>
    </div>
</div>
    </footer>
    <script src="{{ url_for('static', filename='js/error-message.js') }}"></script>
</body>
</html>

