<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registrarse.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/comun.css') }}">
    <title>Únete a FlixFusion!</title>
</head>
<body>
    <div class="container">
        <h1>Regístrate</h1>
        <p id="descripcion">Ingrese sus datos correspondientes.</p>
        <form id="formulario" action="{{ url_for('auth.sign_up') }}" method="post">
            <div class="form-group">
                <input type="text" placeholder="Nombre" name="first_name" id="nombre"  value ="{{ request.form.get('first_name', '') }}">
                {% if form.first_name.errors %}
                    {% for error in form.first_name.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                <input type="text" placeholder="Apellido" name="last_name" id="apellido"  value ="{{ request.form.get('last_name', '') }}">
                {% if form.last_name.errors %}
                    {% for error in form.last_name.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
            {% endif %}
            </div>
            <div class="form-group">
                <input type="email" placeholder="Email" name="email" id="email" value ="{{ request.form.get('email', '') }}">
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
            {% endif %}

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% for category, message in messages %}
                    {% if category == 'email_error' %}
                        <p class="text-danger">{{ message }}</p>
                    {% endif %}
                {% endfor %}
            {% endwith %}
            </div>
            <div class="form-group">
                <input type="password" placeholder="Contraseña" name="password1" id="contraseña"  value ="{{ request.form.get('password1', '') }}">
                {% if form.password1.errors %}
                    {% for error in form.password1.errors %}
                        <p class="text-danger">{{ error }}</p>
                {% endfor %}
            {% endif %}
            </div>
            <div class="form-group">
                <input type="password" placeholder="Repetir contraseña" name="password2" id="contraseña2" value ="{{ request.form.get('password2', '') }}">
                {% if form.password2.errors %}
                    {% for error in form.password2.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <input id="btn" type="submit" value="Registrarse">
        </form>
    </div>

    <div class="container">
        <p id="cuenta"><a href="{{ url_for('auth.login') }}">Ya tengo cuenta</a></p>
    </div>

    <hr id="hr">

    <!-- Pie de pagina -->
    <footer>
        <div class="redes">
            <h3>Nuestras redes:</h3>
        <div class="social">
            <a class="instagram"
                href="https://instagram.com"
                title="Seguinos en instagram"
                target="_blank">
            </a>
            <a class="twitter"
                href="https://twitter.com"
                title="Seguinos en twitter"
                target="_blank">
            </a>
            <a class="github"
                href="https://github.com/c215714n/EducacionIT/tree/html-xv14"
                title="Seguinos en github"
                target="_blank">
            </a>
        </div>
    </div>
        <div class="container-footer">
        <div class="footer-contacto">
            <p>¿Preguntas? Llama al <a href="">0341 411 2004</a></p>
        </div>
        <div class="footer-links">
            <div class="contenido-links">
                <div id="elemento1">
                    <a href="">Preguntas Frecuentes</a>
                </div>
                <div id="elemento2">
                    <a href="">Centro de ayuda</a>
                </div>
                <div id="elemento3">
                    <a href="">Términos de uso</a>
                </div>
                <div id="elemento4">
                    <a href="">Privacidad</a>
                </div>
                <div id="elemento5">
                    <a href="">Preferencias de cookies</a>
                </div>
                <div id="elemento6">
                    <a href="">Información Corporativa</a>
                </div>
            </div>
        </div>
        <div class="footer-lenguaje">
            <select class="language-selector">
                <option value="es">Español</option>
                <option value="en">English</option>
            </select>
        </div>
    </div>
</div>

    </footer>
    <script src="{{ url_for('static', filename='js/error-message.js') }}"></script>
</body>
</html>
