*{
    box-sizing: border-box;
}

body{
    height: auto;
    background-color:#1c1c1c;
    color: #fff;
}

h1{
    color: rgb(18, 159, 152) ;
}

.container p, h1{
    text-align: center;
}

.registro{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 10px; 
        align-items: center;
}

.registro input{
    height: 40px;
    outline: none;
    padding: 8px;
}

::placeholder{
	color: #000;
}

:focus::placeholder{
	color: rgba(22, 15, 15, 0.5);
}


#btn-registro, #cuenta{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    margin: 24px auto;
    border-radius: 4px;
}

#btn-registro  a, #cuenta a{
    text-decoration: none;
    font-size: 20px;
	color: #fff;
	font-weight: bold;
}

#btn-registro{
    background-color:rgb(18, 159, 152);
    width: 300px;
 }

 #btn-registro:hover{
    cursor: pointer;
 }

#cuenta{
    margin-top: 100px;
}

#cuenta:hover{
    text-decoration: underline;
    color: #ccc;
}

#hr{
	color: rgba(255,255,255,0.3);
	border: 1px solid;
}

footer{
    height: auto;
}

.footer-contacto{
    margin-left: 26px;
}

.footer-contacto a{
    color: #fff;
    text-decoration: none;
}

.contenido-links{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    row-gap: 8px;
}

.contenido-links a{
    color: #e7dcdc;
    font-size: 14px;
    font-weight: 200;
    text-decoration: underline rgba(255,255, 255,0.5);
}

.footer-lenguaje{
    margin: 15px 0 40px 26px;
}



@media (min-width:768px){

    .registro{
        grid-template-columns: auto auto;
        justify-content: center;
    }

    .registro input{
        width: 300px;
        height: 50px;
    }

    #hr{
        margin-top: 150px;
    }

    #cuenta a{
       font-size: 30px;
    }

    .footer-contacto{
        display: flex;
        justify-content: center;
        margin: 30px 0 0 0;
        font-size: 20px;
    }

    .footer-lenguaje{
		margin-left: 110px;
	}

    .footer-links a{
		font-size: 16px;
	}
}

@media (min-width:1200px){
   
  .contenido-links{
        justify-content: center;
        row-gap: 16px;
		column-gap: 16px;
  }

  .footer-contacto{
    margin-left: -30px;
  }
	
	

    .footer-lenguaje{
		text-align:center;
        margin: 20px 0 0 -250px;
		
	}
}



