*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: #fff;
    background-color:#1c1c1c
}

.inicio{
    width: 100%;
    height: auto;
}

.inicio h1{
    text-align: center;
    padding: 16px;
    color: rgb(18, 159, 152);
    font-weight: bold;
}

.inicio p{

    padding: 25px;
    font-size: 18px;
}

.imagen-banner img{
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.crear-cuenta{
    height: 300px;
}

.boton{
    display: block;
    background-color: rgb(18, 159, 152);
    padding: 16px;
    text-decoration: none;
    color:#fff;
    font-weight: bold;
    text-align: center;
    margin: 25px;
    border-radius: 8px;
    font-size: 18px;
}

.boton:hover{
    cursor: pointer;
    background-color:rgb(37, 197, 189);
}

